<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 你的 bean 定义和其他配置 -->
	<bean id="person" class="com.huang.spring.besn.Person">
		<property name="name" value="zhangsan"/>
	</bean>
</beans>
